<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: ~{}}">

<th:block th:fragment="pageStyles">
    <link th:href="@{/css/listar.css}" rel="stylesheet"/>
</th:block>

<body>
<div th:fragment="pageContent">
    <div class="header-table d-flex justify-content-between align-items-center mb-3">
        <form class="d-flex" th:action="@{/contas}" method="get">
            <div class="input-icon-wrapper">
                <span class="input-icon"><i class="fa fa-search"></i></span>
                <input class="search-input form-control" type="text" name="number" placeholder="Procurar"/>
            </div>
        </form>
        <button class="cadastrar btn btn-primary" type="button" th:onclick="|window.location.href='@{/contas/form}'|">
            + Cadastrar Conta
        </button>
    </div>

    <div th:if="${mensagem}" th:text="${mensagem}" class="text-danger mb-3"></div>

    <div class="table-wrapper">
        <table class="table table-bordered table-hover align-middle">
            <thead>
            <tr>
                <th>Descrição</th>
                <th>Tipo</th>
                <th style="text-align: center">Dia do fechamento</th>
                <th>Numero da conta</th>
                <th>Ações</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="conta : ${contas}">
                <td th:text="${conta.descricao}"></td>
                <td th:text="${conta.tipo}"></td>
                <td th:text="${conta.diaFechamento}" style="text-align: center"></td>
                <td th:text="${conta.numero}"></td>
                <td class="actions">
                    <a th:href="@{/contas/edit/{id}(id=${conta.id})}" title="Editar"><i class="fas fa-edit edit"></i></a>
                    <a href="#" th:attr="onclick=|if(confirm('Confirma exclusão da conta ${conta.numero}?')) window.location.href='@{/contas/delete/{id}(id=${conta.id})}'|" title="Excluir"><i class="fas fa-trash delete"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="pagination-controls" style="margin-top: auto; text-align: center" class="estilo-row">
        <button id="prevPage" class="estilo-btn">Anterior</button>
        <span id="pageInfo"></span>
        <button id="nextPage" class="estilo-btn">Próximo</button>
    </div>

    <div class="modal fade" id="modalCadastroConta" tabindex="-1" aria-hidden="true">
        </div>
</div>

<th:block th:fragment="pageScripts">
    <script th:src="@{/js/listar.js}"></script>
</th:block>

</body>
</html>