<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{layouts/layout :: ~{}}">
    <th:block th:fragment="pageStyles">
      <link rel="stylesheet" th:href="@{/css/formulario.css}" />
    </th:block>

    <th:block th:fragment="pageContent">
      <div class="form-container">
        <h1>Cadastro da Categoria</h1>

        <form th:action="@{/categorias}" method="POST" th:object="${categoria}">
          <!-- ID oculto -->
          <input type="hidden" th:field="*{id}" />

          <!-- Campo oculto para 'ativo', valor padrão true -->
          <input type="hidden" th:field="*{ativo}" th:value="true" />

          <!-- Nome -->
          <div class="mb-3">
            <label class="form-label">Nome da Categoria</label>
            <input
              type="text"
              class="form-control"
              th:field="*{nome}"
              placeholder="Ex: Mercado"
              required
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('nome')}"
              th:errors="*{nome}"
            ></div>
          </div>

          <!-- Natureza -->
          <div class="mb-3">
            <label class="form-label">Natureza</label>
            <select class="form-control" th:field="*{natureza}" required>
              <option value="" disabled>Selecione a natureza</option>
              <option
                value="ENTRADA"
                th:selected="${categoria.natureza == 'ENTRADA'}"
              >
                Entrada
              </option>
              <option
                value="SAIDA"
                th:selected="${categoria.natureza == 'SAIDA'}"
              >
                Saída
              </option>
              <option
                value="INVESTIMENTO"
                th:selected="${categoria.natureza == 'INVESTIMENTO'}"
              >
                Investimento
              </option>
            </select>
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('natureza')}"
              th:errors="*{natureza}"
            ></div>
          </div>

          <!-- Ordem -->
          <div class="mb-3">
            <label class="form-label">Ordem</label>
            <input
              type="number"
              class="form-control"
              th:field="*{ordem}"
              placeholder="Informe a ordem"
              required
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('ordem')}"
              th:errors="*{ordem}"
            ></div>
          </div>

          <!-- Botão -->
          <button type="submit" id="btnSalvar" class="btn btn-primary mt-3">
            Salvar Categoria
          </button>
        </form>
      </div>
    </th:block>

    <th:block th:fragment="pageScripts">
      <script th:src="@{/js/formulario.js}"></script>
    </th:block>
  </th:block>
</html>
