<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/layout :: ~{}}"
>
  <th:block th:fragment="pageStyles">
    <link th:href="@{/css/listar.css}" rel="stylesheet" />
  </th:block>

  <body>
    <div th:fragment="pageContent">
      <div
        class="header-table d-flex justify-content-between align-items-center mb-3"
      >
        <form class="d-flex" th:action="@{/categorias}" method="get">
          <div class="input-icon-wrapper">
            <span class="input-icon"><i class="fa fa-search"></i></span>
            <input
              class="search-input form-control"
              type="text"
              name="number"
              placeholder="Procurar"
            />
          </div>
        </form>
        <button
          class="cadastrar btn btn-primary"
          type="button"
          th:onclick="|window.location.href='@{/categorias/form}'|"
        >
          + Cadastrar Categoria
        </button>
      </div>

      <div class="table-wrapper">
        <div
          th:if="${mensagem}"
          th:text="${mensagem}"
          class="text-danger mb-3"
        ></div>
        <table class="table table-bordered table-hover align-middle">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome da categoria</th>
              <th>Ativo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="categoria : ${categorias}">
              <td th:text="${categoria.id}"></td>
              <td th:text="${categoria.nome}"></td>
              <td th:text="${categoria.ativo}"></td>
              <td class="actions">
                <a
                  th:href="@{/categorias/edit/{id}(id=${categoria.id})}"
                  title="Editar"
                  ><i class="fas fa-edit edit"></i
                ></a>
                <a
                  th:href="@{/categorias/desativar/{id}(id=${categoria.id})}"
                  title="Desativar"
                  onclick="return confirm('Deseja realmente desativar esta categoria?');"
                >
                  <i class="fas fa-ban block"></i>
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div
        id="pagination-controls"
        style="margin-top: auto; text-align: center"
        class="estilo-row"
      >
        <button id="prevPage" class="estilo-btn">Anterior</button>
        <span id="pageInfo"></span>
        <button id="nextPage" class="estilo-btn">Próximo</button>
      </div>

      <div
        class="modal fade"
        id="modalCadastro"
        tabindex="-1"
        aria-hidden="true"
      ></div>
    </div>

    <th:block th:fragment="pageScripts">
      <script th:src="@{/js/listar.js}"></script>
    </th:block>
  </body>
</html>
