body {
  background-color: #27ac52;
}

.main-wrapper {
  display: flex;
  padding: 40px;
  justify-content: center;
  width: 100%;
  height: 800px;
}

.content-box {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 40px;
}
