<html xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Cadastro de Correntistas</title>
</head>
<body>
    <h1>Cadastro de Correntista</h1>

    <div th:text="${mensagem}" style="color: red"></div>
    <form th:action="@{/correntistas/save}" method="POST" th:object="${correntista}">
        <input type="hidden" th:field="*{id}"/>

        Nome: <input type="text" th:field="*{nome}"/><br />
        <div th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" style="color: red;"></div><br />
        Senha: <input type="password" th:field="*{senha}"/><br />
        <div th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}" style="color: red;"></div><br />
        Email: <input type="text" th:field="*{email}"/><br />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div><br />
        Admin? <input type="checkbox" th:field="*{admin}"/><br /><br />
        <input type="submit" value="Salvar" />
        
    </form>

</body>
</html>