<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <th:block th:replace="~{layouts/layout :: ~{}}">
    <th:block th:fragment="pageStyles">
      <link rel="stylesheet" th:href="@{/css/formulario.css}" />
    </th:block>

    <th:block th:fragment="pageContent">
      <div class="form-container">
        <h1>Cadastro de Correntista</h1>

        <form
          th:action="@{/correntistas}"
          method="POST"
          th:object="${correntista}"
        >
          <input type="hidden" th:field="*{id}" />

          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input
              type="text"
              class="form-control"
              name="nome"
              th:field="*{nome}"
              placeholder="Digite o nome completo"
              required
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('nome')}"
              th:errors="*{nome}"
            ></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              th:field="*{email}"
              placeholder="Digite o e-mail"
              required
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('email')}"
              th:errors="*{email}"
            ></div>
          </div>

          <div class="mb-3">
            <label class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              name="senha"
              th:field="*{senha}"
              placeholder="Digite a senha"
              required
            />
            <div
              class="text-danger"
              th:if="${#fields.hasErrors('senha')}"
              th:errors="*{senha}"
            ></div>
          </div>

          <div class="form-check mb-4">
            <input
              class="form-check-input"
              type="checkbox"
              th:field="*{isAdmin}"
              id="adminCheck"
            />
            <label class="form-check-label" for="adminCheck"
              >Usuário Administrador</label
            >
          </div>

          <button
            type="submit"
            id="btnSalvar"
            class="btn btn-primary mt-3"
            disabled
          >
            <span
              th:text="${correntista.id} == null ? 'Salvar Correntista' : 'Atualizar Correntista'"
              >Salvar Correntista</span
            >
          </button>
        </form>
      </div>
    </th:block>
    <th:block th:fragment="pageScripts">
      <script th:src="@{/js/formulario.js}"></script>
    </th:block>
  </th:block>
</html>
