<!DOCTYPE html>
<html
  lang="pt-BR"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layouts/layout :: ~{}}"
>
  <!-- Estilos -->
  <th:block th:fragment="pageStyles">
    <link rel="stylesheet" th:href="@{/css/formulario.css}" />
  </th:block>

  <!-- Conteúdo -->
  <th:block th:fragment="pageContent">
    <div class="form-container">
      <h1>Adicionar Comentário</h1>

      <form
        th:action="@{|/transacoes/${transacaoId}/comentario|}"
        method="POST"
        th:object="${comentario}"
      >
        <div class="form-group">
          <label for="texto" class="form-label">Comentário</label>
          <textarea
            id="texto"
            th:field="*{texto}"
            class="form-control"
            rows="4"
            placeholder="Digite seu comentário"
            required
          ></textarea>
          <span
            th:if="${#fields.hasErrors('texto')}"
            th:errors="*{texto}"
            class="text-danger"
          ></span>
        </div>

        <div class="form-actions mt-3">
          <button type="submit" class="btn btn-primary">
            Salvar Comentário
          </button>
          <div class="btnAbaixo">
            <a
              th:href="@{/transacoes(contaId=${contaId})}"
              class="btn btn-secondary-2"
              >Cancelar</a
            >
            <a
              th:href="@{/transacoes(contaId=${contaId})}"
              class="btn btn-secondary-1"
              th:if="${comentario.id != null}"
              >Apagar</a
            >
          </div>
        </div>
      </form>
    </div>
  </th:block>

  <!-- Scripts -->
  <th:block th:fragment="pageScripts">
    <script th:src="@{/js/formulario.js}"></script>
  </th:block>
</html>
